{- List indexing -}
let rec indx xs n 
  = if iszero n 
      then head xs 
      else (indx (tail xs) (n-1));

{- Pairs. -}

let Pair x y = [x, y];
let fst  p = head p;
let snd  p = head (tail p);

{- Logic -}
let not p = if p then false else true;

